.container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 4rem auto;
}
#title {
  color: darkred;
}
img {
  width: 380px;
  height: 380px;
}

#movie {
  width: 20%;
}
